*{
  box-sizing: border-box;
}

.contents{
  height: 100vw;
  width: calc(100vw - 300px);
  float: right;
  position:fixed;
  left:300px;

  &__group {
    height: 100px;
    padding:0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eeeeee;
    position: relative;
  }
  &__group__box{
    height: 47px;
    width: 260px;
    padding-top:35px;

  }
  &__group__box__name{
    font-size: 20px;
    line-height: 20px;
    color: #333333;
    margin-bottom:15px;
  }
  &__group__box__member{
    font-size: 12px;
    line-height: 12px;
    color:#999999;
  }
  &__group__edit{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border: solid 1px #38aef0;
    position: absolute;
    right: 40px;
    top: 30px;
  }
  .contents__group__edit-botton{
    color:#38aef0;
    text-decoration:none;
  }

  &__message {
    height: calc(100vh - 190px);
    background-color:#fafafa;
    overflow: scroll;
    padding: 46px 40px;
    box-sizing: border-box;
  }
  &__message__box{
    margin-bottom: 40px;
  }
  &__message__box__info{
    height: 16px;
    margin-bottom:10px;
  }
  &__message__box__info__user{
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    color:#434A54;
    float:left;
  }
  &__message__box__info__date{
    font-size: 12px;
    line-height: 16px;
    color:#999999;
    margin-left:3px;
    float:left;

  }
  &__message__box__chat{
    font-size: 14px;
    line-height: 14px;
    color:#434A54;
    margin-top:10px;
  }
  &__message__box__info__image{   
    color:#999999;
  }
  .lower-message__image{
    width: 500px;
    color:#434A54;
    margin-bottom:40px;
  }
  

  &__footer {
    height: 90px;
    padding:20px 40px;
    background-color:#ddd;
    box-sizing: border-box;
    
  }
  &__footer__box {
    height: 50px;
    background-color:white;
    padding:0 0 0 10px;
    width: 100%;
    position: relative;
    display: inline-block;
  }

  &__footer__box-sent-message-sent{
    height:50px;
    width:70%;
    border: none;
    vertical-align: middle;
    float:left;
  }  

  &__footer__box-sent-botton-function{
    color: $white;
    height: 50px;
    padding: 0 20px;
    color: white;
    background-color: #38aef0;
    text-decoration:none;
    display: inline-block;
    float: right;
    vertical-align: middle;
  }
  &__footer__image{
    font-size:26px;
    position: absolute;
    right: 110px;
    bottom: 6px;
  }

  &__footer__image__sent{
    display: none;
  }
  .hidden{
    display: none;
  } 
}

